<link rel="stylesheet" href="/css/users_profile.css">

<form action="/users/delete-session" method="post">
    <input type="submit" value="Sign Out">
</form>

<h1>
    Profile Page
</h1>


    <p><%= user.name %> </p> 
    <p><%= user.email %> </p> 



