#layout-header {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        align-items: center;
        // background: #2196f3;
        background: #836efc;
        // background:#b491fc;
        color: white;
        height: 50px;
        box-shadow: 1px 1px 1px 1px lightgrey;

        .mini-logo {
            p {
                margin: 5px;
                font-size: 1.6rem;
                font-weight: bold;
                
            }
        }

        .auth-links {
            ul {
                margin: 5% 5px;
                display: flex;

                li {
                    margin-right: 10px;
                    list-style: none;
                    margin-right: 10px;
                    padding: 6px 10px;
                    border-radius: 5px;
                    background-color: #cfd0d3;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        background-color: rgb(221, 221, 221);
                    }

                    a {
                        color: black;
                    }
                }
            }
        }

        a {
            color: white;
            text-decoration: none;
            list-style: none;
        }
    }
}
