header {
  display: none;
}

#layout-footer {
  display: none;
}

body {
  margin: 0;
  display: flex;
  background: url("../images/signin-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  // width: 50%;
  height: 100vh;
  font-family: "Rubik", sans-serif;

  // position: relative;
}

#sign-in-ctn {
  // display: flex;
  // flex-direction: column;
  background-color: rgb(243, 237, 237);
  opacity: 0.95;
  height: 550px;
  max-height: 550px;
  width: 60%;
  // min-width:70%;
  border-radius: 20px;
  margin: 80px auto;
  padding: 25px;

  #app-title {
    color: rgb(250, 68, 129);
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: "Rubik", sans-serif;
    .fa-circle {
      margin-left: 2px;
      
      font-size: 5px;
    }
  }

  h1 {
    font-family: "Rubik", sans-serif;
    font-size: 4rem;
    text-align: left;
  }

  #sign-in-form {
    display: flex;

    form {
      display: flex;
      flex-direction: column;
      width: 500px;

      label {
        color: rgb(58, 58, 58);
        text-align: left;
        margin-bottom: 5px;
        margin-top: 5px;
      }

      input {
        text-align: left;
        padding: 12px;
        border-radius: 15px;
        margin-top: 5px;
        border: 2px solid rgb(207, 207, 207);
        box-shadow: none;
        transition-property: border-color;
        transition-duration: 0.2s;
        &:focus {
          outline: none;
          border-radius: 15px;
          border-color: rgb(61, 156, 235);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
        }
      }

      button {
        display: inline-block;
        font-size: 1.1rem;
        width: 150px;
        height: 43px;
        margin: 0;
        margin-top: 25px;
        border-radius: 15px;
        color: white;
        background-color: black;
        border: transparent;
      }

      span {
        font-size: 0.9rem;
        // position: relative;
        font-family: sans-serif;
        line-height: 0.9;
        // float: right;
        // margin-left:64%;
        margin-top: -35px;
        text-align: right;
        a{
            color: rgb(250, 68, 129);
            text-decoration: none;
        }
        }
    }
  }
}

.ml-20 {
  margin-left: 15px;
}
