header {
  display: none; }

#layout-footer {
  background-color: #d6d6d6;
  opacity: 0.7;
  position: fixed;
  display: flex;
  width: 100%; }

body {
  display: flex;
  background: url("../images/cool-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  font-family: "Rubik", sans-serif; }

#sign-up-ctn {
  background-color: #f3eded;
  height: 550px;
  max-height: 550px;
  width: 65%;
  border-radius: 20px;
  margin: 50px auto;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; }
  #sign-up-ctn #app-title {
    color: #fa4481;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    text-align: left;
    font-family: "Rubik", sans-serif; }
    #sign-up-ctn #app-title .fa-circle {
      margin-left: 2px;
      font-size: 5px; }
  #sign-up-ctn h1 {
    font-family: "Rubik", sans-serif;
    font-size: 4.5rem;
    text-align: left; }
  #sign-up-ctn #sign-up-form {
    display: flex; }
    #sign-up-ctn #sign-up-form form {
      display: flex;
      flex-direction: column;
      width: 500px; }
      #sign-up-ctn #sign-up-form form label {
        color: #6e6e6e;
        text-align: left;
        margin-bottom: 7px;
        margin-top: 7px; }
        #sign-up-ctn #sign-up-form form label #frgt {
          text-align: right;
          margin-left: 125px; }
      #sign-up-ctn #sign-up-form form input {
        font-size: 1rem;
        text-align: left;
        padding: 12px;
        border-radius: 15px;
        margin-top: 10px;
        border: 2.5px solid #cfcfcf;
        box-shadow: none;
        transition-property: border-color;
        transition-duration: 0.2s;
        max-height: 50px; }
        #sign-up-ctn #sign-up-form form input:focus {
          outline: none;
          border-radius: 15px;
          border-color: rgba(250, 68, 129, 0.8);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px; }
      #sign-up-ctn #sign-up-form form button {
        display: block;
        font-size: 1.1rem;
        width: 160px;
        height: 45px;
        border: transparent;
        margin-top: 40px;
        border-radius: 15px;
        color: white;
        background-color: #836efc;
        opacity: 1;
        z-index: 3;
        text-align: center;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
        #sign-up-ctn #sign-up-form form button:hover {
          background-color: #fa4481; }
      #sign-up-ctn #sign-up-form form span {
        font-size: 0.88rem;
        font-family: sans-serif;
        line-height: 0.9;
        margin-left: 71%;
        margin-top: -30px; }
        #sign-up-ctn #sign-up-form form span a {
          color: #3f7cf0;
          text-decoration: none;
          word-wrap: nowrap; }
          #sign-up-ctn #sign-up-form form span a:hover {
            text-decoration: underline; }

.ml-20 {
  margin-left: 15px; }
